<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.setsuna.mapper.UserMapper">
    <select id="selectUserByUsername">
        SELECT *
        FROM user
        WHERE username = #{username}
          AND login_type = "local"
    </select>

    <select id="selectUserByUsernameAndLoginType">
        SELECT *
        FROM user
        WHERE username = #{username}
          AND login_type = #{loginType}
    </select>

    <insert id="insertUser">
        INSERT INTO user (username, password, login_type)
        VALUES (#{username}, #{password}, #{loginType})
    </insert>

    <select id="selectUserInfoByUserId">
        SELECT *
        FROM user_info
        WHERE user_id = #{id}
    </select>

    <insert id="InsertUserInfo">
        INSERT INTO userinfo(user_id, hobby, avatar)
        VALUES (#{userId}, #{hobby}, #{avatar})
    </insert>

</mapper>